.app {
	height: 100vh;
	width: 100%;
}

.container {
	height: 100%;
	padding: 2rem 1rem 2.5rem;
}

.link_btn {
	width: 100%;
	display: inline-block;
	padding: 1rem 0;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	border: none;
	border-radius: 2rem;
}


/* WELCOME PAGE */
.welcome {
	height: 100%;
	background-image: url('./main_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	h2 {
		text-transform: uppercase;
	}

	.logo {
		width: 100%;
		margin-top: 1rem;
	}

	.link_btn {
		color: #000;
		background-color: #FFEC13;
	}
}

/* GUIDE PAGE */
.guide {
	height: 100%;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.guide_item:first-child {
		margin-bottom: 60px;
	}

	h2 {
		margin-bottom: 20px;
	}

	.player_list {
		display: grid;

		row-gap: 4px;
		column-gap: 4px;
		justify-content: center;
		aspect-ratio: 10 / 2;

		.player_item {
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #FFEC13;
			color: #D225D7;
			font-size: 24px;
			font-weight: bold;
			border-radius: 8px;
		}
	}

	.category_list {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.category_item {
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			border-radius: 10px;
			color: #fff;
		}

		.category_name {
			min-width: 100px;
		}
	}

	.link_btn {
		color: #fff;
		border: 2px solid #EC3381;
		background-color: #EC3381;
	}

	.guide_btns {
		display: flex;
		gap: 10px;
	}
}