@import "tailwindcss";

html {
	font-size: 14px;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	line-height: 1.2;
}

.container {
	padding: 0.5rem 1rem 2.5rem;
}

.link_btn {
	width: 100%;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 3rem;
}